<html>
    <head>
        <title>Budgie</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><img src="images/logo.png" class="logo" />Budgie</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://twitter.com/gobudgie" target="_blank">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Your simple daily budget</h2>

                        <!-- Begin MailChimp Signup Form -->
                        <form action="//gobudgie.us10.list-manage.com/subscribe/post?u=91e8e900d80bbc2233fe35bb0&amp;id=47d267e253" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div class="row">
                            <div class="col-sm-offset-3 col-sm-4">
                                <label for="mce-EMAIL" class="sr-only">Subscribe to our mailing list</label>
                                <input type="email" value="" name="EMAIL" class="email form-control input-lg" id="mce-EMAIL" placeholder="Email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_91e8e900d80bbc2233fe35bb0_47d267e253" tabindex="-1" value=""></div>
                            </div>
                            <div class="col-sm-2">
                                <input type="submit" value="Sneak beak" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-lg btn-gold">
                            </div>
                        </div>
                        </form>
                        <!--End mc_embed_signup-->

                        <div class="video-overlay">
                            <video width="297" height="auto" autoplay="">
                                <source src="/media/budgie-home.webm" type="video/webm">
                                <source src="/media/budgie-home.mp4" type="video/mp4">
                            </video>
                            <img src="images/budgie-home.png" class="preview"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Spend Confidently</h2>
                    <p>Say goodbye to the stress and guilt surrounding your bank statements. Budgie's simple daily allowance makes purchasing decisions a breeze. Do you have enough today? Buy that orange mocha frappuccino! Not quite? Wait 'til you get more allowance tomorrow.</p>
                </div>
                <div class="col-md-6">
                    <h2>Financial Awareness</h2>
                    <p>Checking Budgie every day will keep you totally aware of your spending habits. Suddenly you'll find yourself looking forward to purchases with excitement rather than backward with regret.  </p>
                </div>
            </div>
        </div>
        <div id="additional-features" class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="video-overlay left">
                        <video width="252" height="auto" loop="" autoplay="">
                          <source src="/media/budgie-save.webm" type="video/webm">
                          <source src="/media/budgie-home.mp4" type="video/mp4">
                        </video>
                        <img src="images/budgie-save.png" class="preview preview-left"/>
                    </div>
                </div>
                <div class="col-md-8">
                    <h2>Saving is fun now!</h2>
                    <p>When you've got a little extra allowance at the end of the day, save it!</p>
                    <p>At any time, contribute to one of your financial savings goals and see the effects in real time! Budgie gives you total control over your finances, whether your money's in your wallet or in your bank.</p>
                    <p>It feels great to accomplish goals, and Budgie is here for just that.</p>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    &copy; 2015 Budgie <a href="mailto:hello@gobudgie.me" class="pull-right">hello@gobudgie.me</a>
                </p>
            </div>
        </footer>
        <% if(settings.env == "production") { %>
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-60523445-1', {});
            ga('send', 'pageview');
        </script>
        <% } %>
    </body>
</html>
