body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    font-weight: 300;
}

.container {
    padding-left: 80px;
    padding-right: 80px;
}

nav.navbar {
    border-radius: 0;
    background-color: #3ad3dd;
    border-color: #3ad3dd;
    margin-bottom: 0;
}

nav.navbar .navbar-brand,
nav.navbar .navbar-nav a {
    color: #fff;
}

nav.navbar .navbar-brand .logo {
    width: 24px;
    display: inline-block;
    margin-right: 5px;
    margin-top: -4px;
}

.container h2 {
    font-size: 3em;
}

#header {
    background-color: #3ad3dd;
    color: #fff;
    text-align: center;
    max-height: 675px;
    overflow: hidden;
}

#main h2,
#additional-features h2 {
    margin-top: 0;
    font-weight: 400;
    letter-spacing: -1px;
}

.preview {
    width: 338px;
}

.preview-left {
    float: left;
}

.video-overlay {
    position: relative;
}

.video-overlay video {
    position: absolute;
    top: 86px;
    max-width: 296px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.video-overlay.left video {
    left: 15px;
}

.btn.btn-teal {
    color: #fff;
    background-color: #3ad3dd;
    border: 1px solid #3ad3dd;
}

.btn.btn-gold {
    color: #fff;
    background-color: #eec60d;
    border: 1px solid #eec60d;
}

footer {
    background-color: #3f3f3f;
    margin-top: 60px;
}

footer a,
footer a:hover {
    color: #fff;
    text-decoration: none;
}

footer p {
    margin: 20px 0;
}

@media screen and (max-width: 1200px) {
    .video-overlay video {
        left: 76px;
        top: 48px;
        max-width: 162px;
    }

    .video-overlay.left video {
        left: 12px;
    }
}

@media screen and (max-width: 991px) {
    .preview {
        float: none;
        width: 288px;
        display: block;
        margin: 0 auto;
    }

    .preview-left {
        float: none;
    }

    .video-overlay video {
        left: 235px;
        top: 74px;
        max-width: 252px;
    }

    .video-overlay.left video {
        left: 235px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    #main h2,
    #additional-features h2 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {

    .container h2 {
        font-size: 2em;
    }

    .preview {
        width: 250px;
    }

    .video-overlay video {
        top: 65px;
        max-width: 216px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .video-overlay.left video {
        left: 0px;
    }

    #main {
        margin-top: 0;
    }

    footer {
        margin-top: 20px;
    }

    .btn.btn-teal {
        width: 100%;
        margin-top: 10px;
    }
}